<connectionStrings>
  <add name="DefaultConnection2" connectionString="Data Source=Z-NOTE;Initial Catalog=BlogCMS;Integrated Security=True;"
 providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\Blog.mdf';Integrated Security=True"
 providerName="System.Data.SqlClient" />
</connectionStrings>
