  <appSettings>
    <!--General-->
    <add key="BlogName" value="Блог Дмитрия Осина"/>
    <add key="DateFormat" value="dd-MM-yyyy"/>
    <add key="InitDatabase" value="true"/>
    <add key="DefaultUser" value="justz"/>
    <add key="DefaultUserPassword" value="19891989"/>
    
    <!--Blog Specific Settings-->
    <add key="PostsPerPage" value="5"/>
    
  </appSettings>
