  <appSettings>
    <!--General Settings-->
    
    <!--Blog Name-->
    <add key="BlogName" value="Блог шикарного программиста"/>
    <!--Date Formate-->
    <add key="DateFormat" value="dd-MM-yyyy"/>
    <!--Init Database-->
    <add key="InitDatabase" value="true"/>
    <!--Default User Name-->
    <add key="DefaultUserName" value="justz"/>
    <!--Default User Full Name-->
    <add key="DefaultUserFullName" value="Dmitry Osin"/>
    <!--Default User Email-->
    <add key="DefaultUserEmail" value="dmitry@osin.pw"/>
    <!--Default User Password-->
    <add key="DefaultUserPassword" value="12345678"/>
    <!--Persistence time of authorization-->
    <add key="DefaultUserRole" value="admin"/>
    <!--Persistence time of authorization-->
    <add key="PersistenceTime" value="30"/>
    
    <!--Blog Specific Settings-->
    <add key="PostsPerPage" value="5"/>
    
  </appSettings>
