@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Обо мне";
    ViewBag.Description = "Обо мне";
}


<div class="row">
    <div class="col-md-8 col-xs-10 col-sm-10 col-md-offset-2 col-xs-offset-1 col-sm-offset-1" id="main-page-content">
        <h1 align="center" style="margin-bottom: 20px;">
            Здравствуйте, уважаемые читатели моего блога!
        </h1>
        <p class="text-justify">
            Меня зовут Дмитрий Осин, я родился в 1989 году в Москве. Круг моих интересов довольно широк это музыка, спорт, книги, путешествия и разнообразный отдых, ну и конечно же компьютеры.
        </p>
        <p class="text-justify">
            Интерес к программированию у меня возник не сразу, сначала, как водится, я просто играл в компьютерные игры, но вскоре это мне надоело и мне захотелось понять, как работает компьютер и система, тогда еще Windows 95. Разумеется за изучением устройства системы последовал ее крах, пришлось искать информацию о переустановке Windows. И уже буквально через месяц я мог поставить систему с закрытыми глазами, что собственно и приходилось делать, так как я часто ее «ронял». Затем я наткнулся на книгу Марка Минаси «Модернизация и обслуживание ПК», после прочтения этой книги, что я только не делал с компьютером. И выставлял различные тайминги в BIOS, и разгонял процессор.
        </p>
        <p class="text-justify">
            Но программирование вошло в мою жизнь как ни странно с приставкой «СЮБР». Эта приставка, некая модификация обычный Денди. Мне ее отдали родственники, но особой надобности в ней у меня не было. Так как давно был компьютер, и я отдал ее другу. Чуть позже друг мне поведал удивительную историю, о том, что наткнулся на некий редактор кода в приставке. Вскоре нам удалось найти справочник по программированию под приставку. Но кроме процедур, которые либо, что-то складывали, либо писали текст в консоль нам ничего создать не удалось. За то, мне удалось раздобыть книгу по Pascal и начать писать различные бессмысленные программы, которые я с гордостью показывал всем знакомым.
        </p>
        <p class="text-justify">
            Потом был VB6.0, после Pascal программы, написанные на VB6.0, наделенные графическим интерфейсом, казались чем-то инопланетным. А буквально через полгода мне дали диск с ломанной Borland C++ студией и тогда я сломал мозг. Я сразу же купил книгу Архангельского по С++ и начал творить, но после VB6.0 C++ был сущим разочарованием. Он казался невероятно сложным и запутанным, а указатели просто выносили мозг. Добило меня то, что Borland студия была ломанная и на каком-то этапе написания одной из программ студия падала с ошибкой. Тогда я забил на C++, эх знал бы я тогда о C# или хотя бы о Java.
        </p>
        <p class="text-justify">
            В 2006 стали стремительно развиваться веб технологии и уже в 2007 я стал учить PHP и наверняка выучил бы его быстрее, если бы не процедурный стиль программирования от Евгения Попова. Написав, собственный блог по видеоурокам от Попова я понял, что ничего не понял. А на одном из собеседований мне показали OOП код на PHP и тогда я понял, что надо учить серьезно. Затем был Python на котором я писал около 2х лет, потом была Java и наконец C#. В настоящий момент я программирую на C# под Windows Store и на ASP.NET MVC5, так же имею опыт программирования под WPF и совсем чуть-чуть под WinForms. На предыдущей работе я писал на WebForms. Так же имею огромный опыт администрирования Linux & Unix Like систем, таких как Debian, Ubuntu, CentOS, Fedora, CloudLinux (Red Hat) и серверных приложений.
        </p>
        <p class="text-justify">
            Так же меня интересуют книги, такие как «Мартин Иден» Джека Лондона, «Трилогия Желания» Теодора Драйзера, «Хоббит или туда и обратно», «Властелин колец» Дж. Р. Толкиена, многие книги из серии Метро 2033, а также все книги Николая Старикова.
            Еще среди моих интересов спорт, музыка, фильмы.
        </p>
    </div>
</div>