@{
    ViewBag.Title = "Контакты";
    ViewBag.Description = "Контакты";
}

<div id="main-page-content" class="row">
    <div class="col-md-10 col-md-offset-1 visible-md visible-lg">
        <br />
        <div align="center">
            <h3>Вы можете связаться со мной используя следующие контакты</h3>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 visible-md visible-lg">
        <div align="center">
            <ul class="list-inline">
                <li class="list-item"><a href="https://twitter.com/damon_shine"><i class="fa fa-twitter"> Twitter</i></a></li>
                <li class="list-item"><a href="https://vk.com/just_z"><i class="fa fa-vk"> VK.com</i></a></li>
                <li class="list-item"><a href="mailto:dmitry@osin.pw"><i class="fa fa-envelope"> Почта</i></a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-1 visible-sm visible-xs">
        <div align="center">
            <h3>Вы можете связаться со мной используя следующие контакты</h3>
        </div>
        <div align="center">
            <ul class="list-group">
                <li class="list-item list-group-item"><a href="https://twitter.com/damon_shine"><i class="fa fa-twitter"> Twitter</i></a></li>
                <li class="list-item list-group-item"><a href="https://vk.com/just_z"><i class="fa fa-vk"> VK.com</i></a></li>
                <li class="list-item list-group-item"><a href="mailto:dmitry@osin.pw"><i class="fa fa-envelope"> Почта</i></a></li>
            </ul>
        </div>
    </div>
</div>