@{
    ViewBag.Title = "Мои работы";
    ViewBag.Description = "Мои работы";
}

<div class="row" id="main-page-content">
    <div class="col-md-10 col-md-offset-1">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="8"></li>
                <li data-target="#myCarousel" data-slide-to="9"></li>
                <li data-target="#myCarousel" data-slide-to="10"></li>
                <li data-target="#myCarousel" data-slide-to="11"></li>
                <li data-target="#myCarousel" data-slide-to="12"></li>
                <li data-target="#myCarousel" data-slide-to="13"></li>
                <li data-target="#myCarousel" data-slide-to="14"></li>
                <li data-target="#myCarousel" data-slide-to="15"></li>
                <li data-target="#myCarousel" data-slide-to="16"></li>
                <li data-target="#myCarousel" data-slide-to="17"></li>
                <li data-target="#myCarousel" data-slide-to="18"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" style="background-color: #53A1B8; padding-top: 40px;" role="listbox">

                <!--Лекарства-->
                <div class="item active" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/apps/%D0%BB%D0%B5%D0%BA%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B0/9nblggh6gqp3">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.47181.13510798886700550.944c03fc-6ea6-448a-b7fb-41e17ff637e1.1b7ae437-b8fb-4810-a17b-ee8b5b0dab06?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение Лекарства</p>
                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/apps/%D0%BB%D0%B5%D0%BA%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B0/9nblggh6gqp3">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.11374.13510798886700550.64572c65-a424-4017-8b7d-61e27bb72652.cffbe01b-e37f-4816-8b56-9d3ecd48c54c?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение Лекарства</p>
                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/apps/%D0%BB%D0%B5%D0%BA%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B0/9nblggh6gqp3">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.31879.13510798886700550.4a951dc3-b4e9-402c-8467-5c50d3ef225f.ad7db0ff-dbac-4f2d-9dc0-37715588aef9?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение Лекарства</p>

                </div>

                <!--Music Xpert-->
                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/ru-ru/store/apps/music-xpert/9nblggh3rkg2">
                        <img class="slider-shadows" src="https://store-images.microsoft.com/image/apps.23926.13510798884517733.20735753-40c7-4275-b5d5-632f285be0ff.1b7c28e7-89dd-4a86-98c3-005f86aea468?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Универсальное приложение Music Xpert</p>

                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/ru-ru/store/apps/music-xpert/9nblggh3rkg2">
                        <img class="slider-shadows" src="https://store-images.microsoft.com/image/apps.25333.13510798884517733.57c4076e-f695-4bea-91c8-d9f6b3780116.344cb889-54b8-49ee-8c23-f9313ea98315?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Универсальное приложение Music Xpert</p>

                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/ru-ru/store/apps/music-xpert/9nblggh3rkg2">
                        <img class="slider-shadows" src="https://store-images.microsoft.com/image/apps.19118.13510798884517733.521a3044-44db-42ab-802f-d4dd14f40467.9312bd3a-5551-4a6f-84cb-9d2009381a97?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Универсальное приложение Music Xpert</p>

                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/ru-ru/store/apps/music-xpert/9nblggh3rkg2">
                        <img class="slider-shadows" src="https://store-images.microsoft.com/image/apps.32852.13510798884517733.d1dcb9ec-ad68-447b-8cdf-767c395ec180.2e8027d1-f057-4280-b245-5904ff61fb6f?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Универсальное приложение Music Xpert</p>

                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/ru-ru/store/apps/music-xpert/9nblggh3rkg2">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.2013.13510798884517733.96008fbf-2134-4991-b116-c8ffd6202929.f5e053fc-2ca2-499a-a1a9-2d80ac5e7d68?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Универсальное приложение Music Xpert</p>

                </div>

                <!--Калорийность продуктов-->
                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/apps/%D0%BA%D0%B0%D0%BB%D0%BE%D1%80%D0%B8%D0%B9%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%BE%D0%B2/9nblggh6bzpz">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.23909.13510798886605648.03490e58-be05-4347-a3bc-5b78651d6cd8.c270fb7a-f1c7-44de-82c6-9503dd552bd1?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение Калорийность продуктов</p>

                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/apps/%D0%BA%D0%B0%D0%BB%D0%BE%D1%80%D0%B8%D0%B9%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%BE%D0%B2/9nblggh6bzpz">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.8981.13510798886605648.30220231-2fe1-4033-8cb8-4ad070099854.613dcc4f-4d3e-4e15-9354-3e265f966a3f?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение Калорийность продуктов</p>

                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/apps/%D0%BA%D0%B0%D0%BB%D0%BE%D1%80%D0%B8%D0%B9%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%BE%D0%B2/9nblggh6bzpz">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.13039.13510798886605648.9a26ccde-f245-40e9-8c8a-885b3e256324.53023f14-636c-4a8c-964f-a5418bf6a58c?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение Калорийность продуктов</p>

                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/apps/%D0%BA%D0%B0%D0%BB%D0%BE%D1%80%D0%B8%D0%B9%D0%BD%D0%BE%D1%81%D1%82%D1%8C-%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D0%BE%D0%B2/9nblggh6bzpz">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.17329.13510798886605648.fb94b451-6bcb-4ee3-b772-7489286fa613.5f1510ab-bf0c-4ae4-ab0b-3ab01af56561?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение Калорийность продуктов</p>

                </div>

                <!--World's holidays-->
                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/apps/worlds-holidays/9nblggh67dqj">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.59568.13510798886640507.da3b882e-4c0e-426c-a5ed-9748fa62381f.7d6831c5-d4d3-4c00-b90f-8df0830a359f?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение World's Holidays</p>

                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/apps/worlds-holidays/9nblggh67dqj">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.18878.13510798886640507.f364aade-f863-4084-853a-8cc06b55d500.be66e2b8-5814-460f-b874-a076d6cdddac?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение World's Holidays</p>

                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/apps/worlds-holidays/9nblggh67dqj">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.64923.13510798886640507.27584878-0217-4166-bc06-139942902ae1.8aa35f5c-7e87-40cc-9c7d-5fb7adb30e60?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение World's Holidays</p>

                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/apps/worlds-holidays/9nblggh67dqj">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.2918.13510798886640507.a338339b-b257-45b8-be03-9ea76cfa4546.5a39ee42-c82d-4143-8d0c-9f6647bc0969?w=712&h=400">
                    </a>
                    <p align="center">Приложение World's Holidays</p>

                </div>

                <!--Заводной крокодил-->

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/games/%D0%B7%D0%B0%D0%B2%D0%BE%D0%B4%D0%BD%D0%BE%D0%B9-%D0%BA%D1%80%D0%BE%D0%BA%D0%BE%D0%B4%D0%B8%D0%BB/9nblggh5xvj0">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.9910.13510798886411327.c8fd6bbb-730b-46a1-9abd-2dd3e416bcb2.d47a4127-9844-4130-8035-a8f4594219da?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение Заводной крокодил</p>

                </div>

                <div class="item" align="center">
                    <br />
                    <a href="https://www.microsoft.com/en-us/store/games/%D0%B7%D0%B0%D0%B2%D0%BE%D0%B4%D0%BD%D0%BE%D0%B9-%D0%BA%D1%80%D0%BE%D0%BA%D0%BE%D0%B4%D0%B8%D0%BB/9nblggh5xvj0">
                        <img class="slider-shadows" src="https://store-images.s-microsoft.com/image/apps.54181.13510798886411327.7e6518e0-46c0-4091-96dd-94d5e2ad3b84.cf6c7b94-b7e6-4151-b4e7-fb9770af2162?w=712&h=400">
                    </a>
                    <br />
                    <p align="center">Приложение Заводной крокодил</p>

                </div>

                <br />
                <br />
                <br />


            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Назад</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Далее</span>
            </a>
        </div>
    </div>
</div>