@{
    ViewBag.Title = "Навыки";
    ViewBag.Description = "Навыки";
}

<div class="row" id="main-page-content">

    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center text-uppercase">
            C# и .NET
        </h2>
        <div class="text-center badge-group">
            <span class="text-center text-uppercase badge it-badge-style">.NET 4.5 - 4.6</span>
            <span class="text-center text-uppercase badge it-badge-style">C# 5.0 - 6.0</span>
            <span class="text-center text-uppercase badge it-badge-style">LINQ</span>
            <span class="text-center text-uppercase badge it-badge-style">ASYNC/Await</span>
            <span class="text-center text-uppercase badge it-badge-style">Generics</span>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <h2 class="text-center text-uppercase">
            Desktop и Windows Store Apps
        </h2>
        <div class="text-center badge-group">
            <span class="text-center text-uppercase badge it-badge-style">WPF</span>
            <span class="text-center text-uppercase badge it-badge-style">Windows Store Apps</span>
            <span class="text-center text-uppercase badge it-badge-style">Windows Phone RT</span>
            <span class="text-center text-uppercase badge it-badge-style">XAML</span>
            <span class="text-center text-uppercase badge it-badge-style">MVVM</span>
            <span class="text-center text-uppercase badge it-badge-style">MVVM Light</span>
            <span class="text-center text-uppercase badge it-badge-style">RX</span>
            <span class="text-center text-uppercase badge it-badge-style">NINJECT IOC</span>
            <span class="text-center text-uppercase badge it-badge-style">SERVICE LOCATOR</span>

        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">


        <h2 class="text-center text-uppercase">
            WEB UI и SERVERSIDE ТЕХНОЛОГИИ
        </h2>
        <div class="text-center badge-group">
            <span class="text-center text-uppercase badge it-badge-style">ASP.NET MVC4, 5</span>
            <span class="text-center text-uppercase badge it-badge-style">Entity Framework 6</span>
            <span class="text-center text-uppercase badge it-badge-style">NINJECT IOC</span>
            <span class="text-center text-uppercase badge it-badge-style">TYPESCRIPT</span>
            <span class="text-center text-uppercase badge it-badge-style">BOOTSTRAP</span>
            <span class="text-center text-uppercase badge it-badge-style">CSS</span>
            <span class="text-center text-uppercase badge it-badge-style">LESS</span>
            <span class="text-center text-uppercase badge it-badge-style">HTML</span>
        </div>

    </div>
</div>

